* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-content img {
    width: 50px;
    height: 50px;
}

.address-text {
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: uppercase;
}

.address-book {
    color: #42515F;
}

#address-book-logo {
    font-size: 50px;
    margin: 0 5px;
    color: #008CFF;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.form-content {
    min-height: calc(100% -80px);
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    opacity: 1;
    padding: 20px 0;
    background: #008CFF 0% 0% no-repeat padding-box;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
}

#cancel-icon {
    position: absolute;
    right: 15px;
    top: 23px;
    cursor: pointer;
}

.row-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
}

.row-content-address {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.subAddress {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.city-container,
.state-container {
    padding-right: 10px;
}

label {
    min-width: 140px;
    padding: 12px 12px 12px 0;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid#ccc;
    border-radius: 4px;
    resize: vertical;
}

.input:focus-visible,select:focus-visible {
    border: 1px solid #008CFF;
    outline: none;
}

#zip {
    padding: 14px;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}

.text-error {
    margin: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.add-reset {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 400;
    min-width: 140px;
    padding: 7px 7px;
    cursor: pointer;
    color: #42515F;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    margin: 20px 0 0 20px;
}